
<div class="formulario">
    <h3>Introduce los datos para buscar</h3>
    <form (ngSubmit)="guardarDatos()">
        <mat-form-field>
            <mat-label>Busqueda</mat-label>
            <input matInput [(ngModel)]="busqueda" name="busqueda">
            <mat-hint>introduce autor o articulo</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Idioma</mat-label>
            <mat-select [(ngModel)]="idioma" name="idioma">
                <mat-option value="es">Español</mat-option>
                <mat-option value="en">Ingles</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Paginas</mat-label>
            <mat-select [(ngModel)]="paginas" name="paginas">
                <mat-option value="1">1</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="100">100</mat-option>
            </mat-select>
            <mat-hint> Buscar x primeras paginas</mat-hint>
        </mat-form-field>
        <button mat-button type="submit" (click)="buscarEnBD()">Buscar en Base de Datos</button>
        <button mat-button type="submit" (click)="buscarEnInternet()">Buscar en Google Schoolar</button>
    </form>

    <div class="cargando" *ngIf="cargando">
        <mat-spinner></mat-spinner>
    </div>
</div>

<mat-divider></mat-divider>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <div class="botonSubir">
        <button [disabled]="botonDesactivado" (click)="subirABD()">Actualizar Base de Datos</button>
    </div>
    

  


  
  




  