
<div class="formulario">
    <h3>Introduce los datos para buscar</h3>
    <form (ngSubmit)="guardarDatos()">
        <mat-form-field>
            <mat-label>Busqueda</mat-label>
            <input matInput [(ngModel)]="busqueda" name="busqueda">
            <mat-hint>introduce autor o articulo</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Idioma</mat-label>
            <mat-select [(ngModel)]="idioma" name="idioma">
                <mat-option value="es">Español</mat-option>
                <mat-option value="en">Ingles</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Paginas</mat-label>
            <mat-select [(ngModel)]="paginas" name="paginas">
                <mat-option value="0">1</mat-option>
                <mat-option value="9">10</mat-option>
                <mat-option value="99">100</mat-option>
            </mat-select>
            <mat-hint> Buscar x primeras paginas</mat-hint>
        </mat-form-field>
        <button mat-button type="submit" (click)="buscarEnBD()">Buscar en Base de Datos</button>
        <button mat-button type="submit" (click)="buscarEnInternet()">Buscar en Google Schoolar</button>
    </form>

    <div class="cargando" *ngIf="cargando">
        <mat-spinner></mat-spinner>
    </div>
</div>

<mat-divider></mat-divider>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
    
        <!-- Titulo Column -->
        <ng-container matColumnDef="Titulo">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let element"> {{element.Titulo}} </td>
        </ng-container>

        <!-- Citas Column -->
        <ng-container matColumnDef="Citas">
            <th mat-header-cell *matHeaderCellDef> Citas </th>
            <td mat-cell *matCellDef="let element"> {{element.Citas}} </td>
        </ng-container>

        <!-- Autor 1 Column -->
        <ng-container matColumnDef="Autor 1">
            <th mat-header-cell *matHeaderCellDef> Autor 1 </th>
            <td mat-cell *matCellDef="let element"> {{element['Autor 1']}} </td>
        </ng-container>

        <!-- Autor 2 Column -->
        <ng-container matColumnDef="Autor 2">
            <th mat-header-cell *matHeaderCellDef> Autor 2 </th>
            <td mat-cell *matCellDef="let element"> {{element['Autor 2']}} </td>
        </ng-container>

        <!-- Autor 3 Column -->
        <ng-container matColumnDef="Autor 3">
            <th mat-header-cell *matHeaderCellDef> Autor 3 </th>
            <td mat-cell *matCellDef="let element"> {{element['Autor 3']}} </td>
        </ng-container>

        <!-- Año publicacion Column -->
        <ng-container matColumnDef="Año de publicación">
            <th mat-header-cell *matHeaderCellDef> Año de publicación </th>
            <td mat-cell *matCellDef="let element"> {{element['Año']}} </td>
        </ng-container>

        <!-- Enlace Column -->
        <ng-container matColumnDef="Enlace">
            <th mat-header-cell *matHeaderCellDef> Enlace </th>
            <td mat-cell *matCellDef="let element"> 
                <a href="{{element.Enlace}}">
                    <mat-icon>launch</mat-icon>
                  </a> 
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <div class="botonSubir">
        <button [disabled]="botonDesactivado" (click)="subirABD()">Actualizar Base de Datos</button>
    </div>
    

  


  
  




  