
<div class="formulario">
    <h3>Introduce los datos para buscar en google Schoolar</h3>
    <form (ngSubmit)="guardarDatos()">
        <mat-form-field>
            <mat-label>Busqueda</mat-label>
            <input matInput [(ngModel)]="busqueda" name="busqueda">
            <mat-hint>Buscar por palabras o autor</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Idioma</mat-label>
            <mat-select [(ngModel)]="idioma" name="idioma">
                <mat-option value="es">Español</mat-option>
                <mat-option value="en">Ingles</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Paginas</mat-label>
            <mat-select [(ngModel)]="paginas" name="paginas">
                <mat-option value="1">1</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="100">100</mat-option>
            </mat-select>
            <mat-hint>Buscar en x paginas</mat-hint>
        </mat-form-field>
        <button mat-button type="submit">Guardar datos</button>
        <button mat-button type="button" (click)="buscarEnInternet()">Buscar en google Schoolar</button>
    </form>
</div>

<mat-divider></mat-divider>




  